.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.pdf
*cache
*files
*.html
figs-knitr
*.fls
*.log
*.gz
*.out
*.fdb_latexmk
*.aux
*.png
*.tif
map/RedRockFire_Indices/RR_dNBR.tif.xml
*.CPG
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.tfw
*.rrd
*.ini
*.docx
